.row {
  list-style: none;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}

.row + .row {
  margin-top: 0.5rem;
}

.hexName {
  font-weight: 700;
  font-size: 20px;
}

.hexTrait {
  margin-top: 0.25rem;
}

.hexLink {
  display: block;
  padding: 1rem;
  color: inherit;
  text-decoration: inherit;
}

.badgeContainer {
  margin-top: 0.25rem;
}

.badgeContainer > * + * {
  margin-left: 0.25rem;
}
