.hexDetailContainer {
  padding: 1rem;
}

.hexDetailContainer h1 {
  font: 700 24px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p.hexDescription {
  line-height: 1.5;
  white-space: pre-wrap;
}

.hexTable {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.details {
  margin: 1.5rem 0;
}

.details dd,
.details dt span {
  margin-left: 1.75rem;
}

.details dd {
  font-weight: 700;
  font-size: 18px;
}

.details dd + dt {
  margin-top: 1rem;
}

.typeBadgeContainer > * + * {
  margin-left: 0.25rem;
}

.detailIcon {
  position: absolute;
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.25rem;
}
