.hexDetailContainer {
  padding: 1rem;
  background-color: #ecf0f1;
}

.topBar {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #ecf0f1;
}

.backButton {
  height: 2.5rem;
  width: 2.5rem;
}

.backIcon {
  height: 1.25rem;
  width: 1.25rem;
  color: #202020;
}

.title {
  display: inline;
  margin: 0;
  padding-bottom: 4px;
}

.hexName {
  position: sticky;
  top: 0;
  margin: 0;
  padding: 1rem;
  background: #2c3e50;
  color: white;
}

.hexDetailContainer h1 {
  font: 700 24px;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p.hexDescription {
  line-height: 1.5;
  font-size: 17px;
  white-space: pre-wrap;
}

.hexTable {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.details {
  margin: 1.5rem 0;
}

.details dd,
.details dt span {
  margin-left: 0rem;
}

.details dt {
  font-size: 18px;
}

.details dd {
  font-weight: 700;
  font-size: 20px;
}

.details dd + dt {
  margin-top: 1rem;
}

.typeBadgeContainer > * + * {
  margin-left: 0.25rem;
}

.detailIcon {
  color: #202020;
  fill: #202020;
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
}
