.hexDetailContainer {
  padding: 1rem;
}

.hexDetailContainer h1 {
  font: 700 24px;
  margin-top: 0;
}

p.hexDescription {
  line-height: 1.5;
  white-space: pre-wrap;
}

.hexTable {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}
