.hexListContainer {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 2px 4px rgba(0, 0, 0, 0.23);
}

.hexList {
  margin: 0;
  padding: 0;
}

.hexList.favoritesContainer {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgrey;
}
