.topBarContainer {
  background-color: #2c3e50;
}

.clearButton {
  border: none;
  background: none;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  margin-top: -1.5rem;
  right: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 700;
  padding: 1rem;
  color: #ecf0f1;
}

.searchBar input {
  background-color: #ecf0f1;
}

.searchBar {
  flex: 1;
}

.favoritesButton {
  padding: 0 0.75rem;
}

.favoritesIcon {
  height: 2rem;
  width: 2rem;
  color: gold;
}

.utilBar {
  display: flex;
  position: relative;
  padding: 0 1rem 1rem;
}

.favoritesContainer {
  padding: 1rem;
  position: absolute;
  top: 2.25rem;
  left: 0;
  right: 0;
  margin: 1rem;
  z-index: 1000;
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(255, 203, 203, 0.23);
}

.hasTopRightNubbin::before {
  left: auto;
  right: 1.75rem;
  top: -0.5rem;
  margin-right: -0.5rem;
  width: 1rem;
  height: 1rem;
  position: absolute;
  transform: rotate(45deg);
  content: "";
  background-color: inherit;
  margin-left: -0.5rem;
}

.hasTopRightNubbin::after {
  box-shadow: -1px -1px 0 0 rgba(0, 0, 0, 0.16);
  z-index: -1;
}
