.buttonIcon {
  fill: grey;
  color: grey;
  height: 1.25rem;
  width: 1.25rem;
}

.topBarButton {
  border: none;
  background: none;
  height: 3rem;
  width: 3rem;
}

.searchInput {
  border: none;
  font: 700 16px sans-serif;
  height: 3rem;
  width: auto;
}

.bar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.topBarGroup {
  display: flex;
}

.occupyAvailableWidth {
  flex: 1;
}
