.clearButton {
  border: none;
  background: none;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  margin-top: -1.5rem;
  right: 0;
}

.header {
  margin: 1rem;
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.searchBar {
  margin: 1rem;
}
