@import-normalize;

button {
  padding: 0;
}

body {
  font: 400 16px sans-serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

tr {
  line-height: 2;
}

td,
th {
  padding: 0.5rem;
  text-align: left;
}

tr + tr {
  border-top: 1px solid #bdbdbd;
}

thead tr {
  background: #e4e4e4;
}
