.badge {
  background-color: #ecebea;
  padding: 0.25rem 0.5rem;
  border-radius: 15px;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: normal;
  color: #080707;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}
